/* Gaya Umum */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffcc00;
    text-align: center;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 10px;
}

p {
    font-size: 1em;
    line-height: 1.6;
    color: #ccc;
    margin-bottom: 30px;
}

/* Gaya Video Container */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: #000;
    margin-bottom: 20px;
    border-radius: 10px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Gaya Button Container */
.button-container {
    text-align: center;
    margin-top: 20px;
}

.show-button,
.hide-button {
    background-color: #ffcc00;
    color: #1a1a1a;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.show-button:hover,
.hide-button:hover {
    background-color: #ff9900;
}

/* Gaya Copyright */
.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #777;
}

/* Modal Gaya */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
}

.modal-content {
    background-color: #2a2a2a;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ffcc00;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }

    .show-button,
    .hide-button {
        font-size: 0.9em;
        padding: 8px 16px;
    }

    .modal-content {
        width: 90%;
    }
}
