body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.halaman {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    color: #ffcc00;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 10px;
}

.list-episode {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.episode {
    display: block;
    padding: 20px;
    background-color: #333;
    color: #f5f5f5;
    text-decoration: none;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.episode h1 {
    font-size: 1.5em;
    margin: 0;
    color: #ffcc00;
}

.episode h2 {
    padding-top: 3px;
    font-size: 1em;
    margin: 0;
    color: #eeffb0;
    text-align: left;
    border-bottom: 2px solid #ffcc00;
}

.episode p {
    margin: 10px 0 0;
    font-size: 0.8em;
    color: #ffffff;
    text-align: justify;
}

.episode:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.episode::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s;
}

.episode:hover::after {
    opacity: 1;
}
